#informationBlock{
    border: 1px solid black;
    border-radius: 5%;
    max-height: 350px;
    max-width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}
#templateBlock {
    margin-top: 350px;
    min-height: 450px;
    border-radius: 35%; /* Correct syntax for border-radius */
    border: 1px solid black; /* Adding a border for clarity */
    max-width: 350px;
    margin-left: 150px;
}