#informationBlock{
    border: 1px solid black;
    border-radius: 5%;
    min-height: 500px;
    max-height: 550px;
    max-width: 500px;
    margin-top: 50px;
    margin-left: 125px;
    box-shadow: 10px 10px 5px #00000086;
}
#templateBlock {
   
    min-height: 450px;
    border-radius: 35%; /* Correct syntax for border-radius */
    border: 1px solid black; /* Adding a border for clarity */
    max-width: 350px;
    margin-left: 150px;
    box-shadow: 10px 10px 5px #00000086;
}

main{
    background-color: rgba(0, 0, 0, 0.433);
}

img{
    margin-top: 150px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #00000086;
}

